* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #ffffff;
}
.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.home-container {
  background: rgb(237, 237, 237);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 400px;
  color: rgb(0, 0, 0);
  border-style: groove;
}
/* .resultado-background {
  background-image: url('/confetti.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.box-login-cadastro{
  background: rgb(237, 237, 237);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 400px;
  color: rgb(0, 0, 0);
  border-style: groove;
}
.login-cadastro{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  width: 100%;
}
.login-cadastro input{
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: 0.3s ease;
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.login-cadastro input:focus {
  border-color: #207dc1;
  box-shadow: 0 0 6px rgba(0, 112, 243, 0.5);
}
.login-cadastro button {
  text-decoration: none;
  background-color: #207dc1;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.login-cadastro button:hover {
  background-color: #207dc1;
  transform: translateY(-2px);
}
.login-cadastrar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  font-size: 14px;
}
.login-cadastrar a{
  color: black;
}
.contorn{
  background-color: rgb(237, 237, 237);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 440px;
  border-style:groove;
}
.perguntas{
  padding:22px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  color: rgb(0, 0, 0);
}
h1 {
  color: #207dc1;
  font-size: 28px;
  margin: 20px 0px;
}
.quiz-container {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  border-style:groove;
  width: 500px;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.quiz-container .pergunta-texto {
  font-size: 18px;
  margin: 10px 30px;
  text-align: center;
}
.quiz-button{
  border-radius: 8px;
  background-color: #207dc1;
  font-size: 16px;
  color:whitesmoke;
  text-align: left;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  cursor:pointer;
}
.quiz-button:hover{
  transform: translateY(-2px);
}
.result-container {
  background-color: rgb(237, 237, 237);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 500px;
  border-style:groove;
}
.result-container h1 {
  color: #207dc1;
  font-size: 28px;
  margin-bottom: 20px;
}
.result-container p {
  font-size: 18px;
  margin-top: 20px;
}
.result-container button {
  text-decoration: none;
  background-color: #207dc1;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.result-container button:hover {
  transform: translateY(-2px);
}
p {
  font-size: 18px;
  margin-bottom: 20px;
}
.period-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.period-links a {
  text-decoration: none;
  background-color: #207dc1;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}
.period-links button{
  text-decoration: none;
  background-color: #207dc1;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.period-links button:hover {
  transform: translateY(-2px);
}
.period-links a:hover {
  background-color: #207dc1;
}
.centralize-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-container {
  background: rgb(237, 237, 237);
  padding: 30px;
  border-radius: 8px;
  width: 500px;
  color: rgb(0, 0, 0);
  border-style: groove;
}
.box-container h1 {
  color: #207dc1;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.box-container p {
  font-size: 16px;
  margin-bottom: 20px;
}
.box-container input {
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: 0.3s ease;
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.box-container input:focus {
  border-color: #207dc1;
  box-shadow: 0 0 6px rgba(0, 112, 243, 0.5);
}
.box-container button {
  text-decoration: none;
  background-color: #207dc1;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}
.box-container button {
  background-color: #207dc1;
  transform: translateY(-2px);
}